:80
gzip

log stdout
errors stdout
browse
root /root/web/

header / {
    Access-Control-Allow-Origin  *
    Access-Control-Allow-Methods "GET, POST, OPTIONS"
    -Server
}

rewrite /ui/module/ {
    to {path} {path}/ /ui/module/
}

rewrite /ui/module/docs/{
    to {path} {path}/ /ui/module/docs/
}
